openapi: 3.2.0
info:
  title: EHRbase Status API
  description: 'EHRbase implements the official openEHR REST API. Additionally, EHRbase provides a custom `status` heartbeat endpoint, an Admin API (if activated) and a Status and Metrics API (if activated) for monitoring and maintenance. Note: The openEHR REST API is documented in their official documentation, not here. Please refer to their separate documentation.'
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  version: v1
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
tags:
- name: Status
  description: Heartbeat, Version info, Status
paths:
  /rest/status:
    get:
      tags:
      - Status
      summary: Get status information on running EHRbase server instance
      operationId: getEhrbaseStatus
      parameters:
      - name: Accept
        in: header
        description: Client desired response data format
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: EHRbase is available. Basic information on runtime and build is returned in body.
          headers:
            Content-Type:
              description: Format of response
              style: simple
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusResponseData'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseData'
components:
  schemas:
    StatusResponseData:
      type: object
      properties:
        ehrbase_version:
          type: string
        openehr_sdk_version:
          type: string
        archie_version:
          type: string
        jvm_version:
          type: string
        os_version:
          type: string
        postgres_version:
          type: string
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
