openapi: 3.2.0
info:
  title: EHRbase STORED QUERY API
  description: 'EHRbase implements the official openEHR REST API. Additionally, EHRbase provides a custom `status` heartbeat endpoint, an Admin API (if activated) and a Status and Metrics API (if activated) for monitoring and maintenance. Note: The openEHR REST API is documented in their official documentation, not here. Please refer to their separate documentation.'
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  version: v1
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
tags:
- name: STORED_QUERY
paths:
  /rest/openehr/v1/definition/query/{qualified_query_name}/{version}:
    get:
      tags:
      - STORED_QUERY
      summary: Get stored query and info/metadata
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definitions.html#definitions-stored-query-get-1
      operationId: getStoredQueryVersion
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDefinitionResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryDefinitionResponseData'
    put:
      tags:
      - STORED_QUERY
      summary: Store a query
      description: Content type application/json is still supported but it's deprecated, please use text/plain instead.
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definitions.html#definitions-stored-query-put
      operationId: putStoredQuery
      parameters:
      - name: Content-Type
        in: header
        required: false
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: query_type
        in: query
        required: false
        schema:
          type: string
          default: AQL
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDefinitionResponseData'
  /rest/openehr/v1/definition/query/{qualified_query_name}:
    get:
      tags:
      - STORED_QUERY
      summary: List stored queries
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/Query/operation/definition_query_list
      operationId: getStoredQueryList
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryDefinitionResponseData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryDefinitionResponseData'
    put:
      tags:
      - STORED_QUERY
      summary: Store a query
      description: Content type application/json is still supported but it's deprecated, please use text/plain instead.
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definitions.html#definitions-stored-query-put
      operationId: putStoredQuery_1
      parameters:
      - name: Content-Type
        in: header
        required: false
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: query_type
        in: query
        required: false
        schema:
          type: string
          default: AQL
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDefinitionResponseData'
  /rest/openehr/v1/definition/query:
    get:
      tags:
      - STORED_QUERY
      summary: List stored queries
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/Query/operation/definition_query_list
      operationId: getStoredQueryList_1
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryDefinitionResponseData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryDefinitionResponseData'
components:
  schemas:
    QueryDefinitionResponseData:
      type: object
      properties:
        q:
          type: string
        name:
          type: string
        type:
          type: string
        version:
          type: string
        saved:
          type: string
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
