openapi: 3.2.0
info:
  title: Vitagroup Admin - Contribution API
  version: v1
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  description: 'Operations tagged Admin - Contribution across 2 of this provider''s published API definitions: vitagroup-ehrbase-sandbox-live.json, vitagroup-hip-ehrbase-admin.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
- url: http://localhost:8080/ehrbase
  description: Generated server url
tags:
- name: Admin - Contribution
paths:
  /rest/admin/ehr/{ehr_id}/contribution/{contribution_id}:
    put:
      tags:
      - Admin - Contribution
      operationId: updateContribution
      parameters:
      - name: ehr_id
        in: path
        description: Target EHR id to update contribution inside.
        required: true
        schema:
          type: string
      - name: contribution_id
        in: path
        description: Target Contribution id to update
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contribution has been updated successfully.
          headers:
            Content-Type:
              description: Format of response
              style: simple
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
        '401':
          description: Client credentials invalid or have expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
        '403':
          description: Client does not have permission to access since admin role is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
        '404':
          description: EHR or Contribution could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
      summary: Update contribution
      x-summary-source: derived
    delete:
      tags:
      - Admin - Contribution
      summary: Not supported since 2.0.0
      operationId: deleteContribution
      parameters:
      - name: ehr_id
        in: path
        description: Target EHR id to update contribution inside.
        required: true
        schema:
          type: string
      - name: contribution_id
        in: path
        description: Target Contribution id to update
        required: true
        schema:
          type: string
      responses:
        '501':
          description: Contribution delete is not supported since 2.0.0.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
    servers:
    - url: https://sandkiste.ehrbase.org/ehrbase
      description: Generated server url
components:
  schemas:
    AdminDeleteResponseData:
      type: object
      properties:
        deleted:
          type: integer
          format: int32
    AdminUpdateResponseData:
      type: object
      properties:
        updated:
          type: integer
          format: int32
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
x-refined-from:
- vitagroup-ehrbase-sandbox-live.json
- vitagroup-hip-ehrbase-admin.json
