openapi: 3.2.0
info:
  title: EHRbase QUERY API
  description: 'EHRbase implements the official openEHR REST API. Additionally, EHRbase provides a custom `status` heartbeat endpoint, an Admin API (if activated) and a Status and Metrics API (if activated) for monitoring and maintenance. Note: The openEHR REST API is documented in their official documentation, not here. Please refer to their separate documentation.'
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  version: v1
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
tags:
- name: Query
paths:
  /rest/openehr/v1/query/{qualified_query_name}/{version}:
    get:
      tags:
      - Query
      summary: Execute stored query
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/query.html#query-execute-query-get-1
      operationId: executeStoredQuery
      parameters:
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fetch
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
    post:
      tags:
      - Query
      summary: Execute stored query
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/query.html#query-execute-query-post-1
      operationId: executeStoredQuery_1
      parameters:
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          application/xml:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
  /rest/openehr/v1/query/{qualified_query_name}:
    get:
      tags:
      - Query
      summary: Execute stored query
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/query.html#query-execute-query-get-1
      operationId: executeStoredQuery_2
      parameters:
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fetch
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
    post:
      tags:
      - Query
      summary: Execute stored query
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/query.html#query-execute-query-post-1
      operationId: executeStoredQuery_3
      parameters:
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          application/xml:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
  /rest/openehr/v1/query/aql:
    get:
      tags:
      - Query
      summary: Execute ad-hoc (non-stored) AQL query
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/query.html#query-execute-query-get
      operationId: executeAdHocQuery
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fetch
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
    post:
      tags:
      - Query
      summary: Execute ad-hoc (non-stored) AQL query
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/query.html#query-execute-query-post
      operationId: executeAdHocQuery_1
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          application/xml:
            schema:
              type: object
              additionalProperties: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResponseData'
components:
  schemas:
    MetaData:
      type: object
      properties:
        _href:
          type: string
        _type:
          type: string
        _schema_version:
          type: string
        _created:
          type: string
          format: date-time
        _generator:
          type: string
        _executed_aql:
          type: string
    QueryResponseData:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/MetaData'
        q:
          type: string
        name:
          type: string
        columns:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        rows:
          type: array
          items:
            type: array
            items: {}
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
