openapi: 3.2.0
info:
  title: EHRbase ADL 1.4 TEMPLATE API
  description: 'EHRbase implements the official openEHR REST API. Additionally, EHRbase provides a custom `status` heartbeat endpoint, an Admin API (if activated) and a Status and Metrics API (if activated) for monitoring and maintenance. Note: The openEHR REST API is documented in their official documentation, not here. Please refer to their separate documentation.'
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  version: v1
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
tags:
- name: ADL 1.4 TEMPLATE
paths:
  /rest/openehr/v1/definition/template/adl1.4:
    get:
      tags:
      - ADL 1.4 TEMPLATE
      summary: List templates
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/ADL1.4/operation/definition_template_adl1.4_list
      operationId: getTemplatesClassic
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateMetaDataDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateMetaDataDto'
    post:
      tags:
      - ADL 1.4 TEMPLATE
      summary: Upload a template
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/ADL1.4/operation/definition_template_adl1.4_upload
      operationId: createTemplateClassic
      parameters:
      - name: Prefer
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/xml:
            schema:
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/xml:
              schema:
                type: string
  /rest/openehr/v1/definition/template/adl1.4/{template_id}:
    get:
      tags:
      - ADL 1.4 TEMPLATE
      summary: Get template
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/ADL1.4/operation/definition_template_adl1.4_get
      operationId: getTemplateClassic
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: template_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: object
            application/json:
              schema:
                type: object
            application/openehr.wt+json:
              schema:
                type: object
  /rest/openehr/v1/definition/template/adl1.4/{template_id}/example:
    get:
      tags:
      - ADL 1.4 TEMPLATE
      summary: Get an example composition for the specified template
      operationId: getTemplateExample
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: template_id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Composition format
        required: false
        schema:
          type: string
          enum:
          - JSON
          - XML
          - STRUCTURED
          - FLAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            application/openehr.wt.structured.schema+json:
              schema:
                type: string
            application/openehr.wt.flat.schema+json:
              schema:
                type: string
components:
  schemas:
    TemplateMetaDataDto:
      type: object
      properties:
        concept:
          type: string
        template_id:
          type: string
        archetype_id:
          type: string
        created_timestamp:
          type: string
          format: date-time
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
