openapi: 3.2.0
info:
  title: Vitagroup Admin - Template API
  version: v1
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  description: 'Operations tagged Admin - Template across 2 of this provider''s published API definitions: vitagroup-ehrbase-sandbox-live.json, vitagroup-hip-ehrbase-admin.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
- url: http://localhost:8080/ehrbase
  description: Generated server url
tags:
- name: Admin - Template
paths:
  /rest/admin/template/{template_id}:
    put:
      tags:
      - Admin - Template
      operationId: updateTemplate
      parameters:
      - name: Accept
        in: header
        description: Client should specify expected format
        required: false
        schema:
          type: string
          default: application/xml
      - name: Content-Type
        in: header
        description: Client may request content format
        required: true
        schema:
          type: string
      - name: template_id
        in: path
        description: Target template id to update. The value comes from the 'template_id' property.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/xml:
            schema:
              type: string
              description: New template content to replace old one with
        required: true
      responses:
        '200':
          description: Template has been updated successfully.
          headers:
            Content-Type:
              description: Format of response
              style: simple
          content:
            application/xml:
              schema:
                type: string
        '401':
          description: Client credentials are invalid or have expired.
          content:
            application/xml:
              schema:
                type: string
        '403':
          description: Client has no access permission since admin role is missing.
          content:
            application/xml:
              schema:
                type: string
        '404':
          description: Template could not be found.
          content:
            application/xml:
              schema:
                type: string
        '422':
          description: Template could not be replaced since it is used in at least one Composition.
          content:
            application/xml:
              schema:
                type: string
      summary: Update template
      x-summary-source: derived
    delete:
      tags:
      - Admin - Template
      operationId: deleteTemplate
      parameters:
      - name: template_id
        in: path
        description: Target template id to delete. The value comes from the 'template_id' property.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Template has been deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '401':
          description: Client credentials are invalid or have expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '403':
          description: Client has no access permission since admin role is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '404':
          description: Template could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '422':
          description: The template is still used by compositions and cannot be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
      summary: Delete template
      x-summary-source: derived
    servers:
    - url: https://sandkiste.ehrbase.org/ehrbase
      description: Generated server url
  /rest/admin/template/all:
    delete:
      tags:
      - Admin - Template
      operationId: deleteAllTemplates
      responses:
        '200':
          description: All templates have been removed successfully
          headers:
            Content-Type:
              description: Format of response
              style: simple
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        '401':
          description: Client credentials are invalid or have expired.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        '403':
          description: Client has no access permission since admin role is missing.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        '404':
          description: Template could not be found.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        '422':
          description: There are templates that are used by compositions and cannot be removed.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
      summary: Delete all templates
      x-summary-source: derived
    servers:
    - url: https://sandkiste.ehrbase.org/ehrbase
      description: Generated server url
components:
  schemas:
    AdminDeleteResponseData:
      type: object
      properties:
        deleted:
          type: integer
          format: int32
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
x-refined-from:
- vitagroup-ehrbase-sandbox-live.json
- vitagroup-hip-ehrbase-admin.json
