openapi: 3.2.0
info:
  title: Vitagroup Admin - EHR API
  version: v1
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  description: 'Operations tagged Admin - EHR across 2 of this provider''s published API definitions: vitagroup-ehrbase-sandbox-live.json, vitagroup-hip-ehrbase-admin.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
- url: http://localhost:8080/ehrbase
  description: Generated server url
tags:
- name: Admin - EHR
paths:
  /rest/admin/ehr/{ehr_id}:
    put:
      tags:
      - Admin - EHR
      operationId: updateEhr
      parameters:
      - name: Accept
        in: header
        description: Client requested response content type
        required: false
        schema:
          type: string
      - name: ehr_id
        in: path
        description: Target EHR id to update
        required: true
        schema:
          type: string
      responses:
        '200':
          description: EHR has been updated and number of updated items will be returned in the body.
          headers:
            Content-Type:
              description: Format of response
              style: simple
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
        '401':
          description: Client credentials are invalid or have been expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
        '403':
          description: Client is not permitted to access this resource since the admin role is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
        '404':
          description: EHR with id could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminUpdateResponseData'
      summary: Update ehr
      x-summary-source: derived
    delete:
      tags:
      - Admin - EHR
      operationId: deleteEhr
      parameters:
      - name: ehr_id
        in: path
        description: Target EHR id to delete
        required: true
        schema:
          type: string
      responses:
        '204':
          description: EHR has been deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '401':
          description: Client credentials are invalid or have been expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '403':
          description: Client is not permitted to access this resource since the admin role is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
        '404':
          description: EHR with id could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminDeleteResponseData'
      summary: Delete ehr
      x-summary-source: derived
    servers:
    - url: https://sandkiste.ehrbase.org/ehrbase
      description: Generated server url
components:
  schemas:
    AdminDeleteResponseData:
      type: object
      properties:
        deleted:
          type: integer
          format: int32
    AdminUpdateResponseData:
      type: object
      properties:
        updated:
          type: integer
          format: int32
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
x-refined-from:
- vitagroup-ehrbase-sandbox-live.json
- vitagroup-hip-ehrbase-admin.json
