openapi: 3.2.0
info:
  title: EHRbase ADL 2 TEMPLATE API
  description: 'EHRbase implements the official openEHR REST API. Additionally, EHRbase provides a custom `status` heartbeat endpoint, an Admin API (if activated) and a Status and Metrics API (if activated) for monitoring and maintenance. Note: The openEHR REST API is documented in their official documentation, not here. Please refer to their separate documentation.'
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  version: v1
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
tags:
- name: ADL 2 TEMPLATE
paths:
  /rest/openehr/v1/definition/template/adl2:
    get:
      tags:
      - ADL 2 TEMPLATE
      summary: List templates
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/ADL2/operation/definition_template_adl2_get
      operationId: getTemplatesNew
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponseData'
    post:
      tags:
      - ADL 2 TEMPLATE
      summary: Upload a template
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definition.html#tag/ADL2/operation/definition_template_adl2_upload
      operationId: createTemplateNew
      parameters:
      - name: Content-Type
        in: header
        required: false
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: Prefer
        in: header
        required: false
        schema:
          type: string
      - name: version
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplateResponseData'
  /rest/openehr/v1/definition/template/adl2/{template_id}/{version_pattern}:
    get:
      tags:
      - ADL 2 TEMPLATE
      summary: Get template
      externalDocs:
        url: https://specifications.openehr.org/releases/ITS-REST/latest/definitions.html#definitions-stored-query-get-1
      operationId: getTemplateNew
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: template_id
        in: path
        required: true
        schema:
          type: string
      - name: version_pattern
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplateResponseData'
components:
  schemas:
    TemplateResponseData: {}
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
