openapi: 3.2.0
info:
  title: Vitagroup Admin - Heartbeat API
  version: v1
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  description: 'Operations tagged Admin - Heartbeat across 2 of this provider''s published API definitions: vitagroup-ehrbase-sandbox-live.json, vitagroup-hip-ehrbase-admin.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
- url: http://localhost:8080/ehrbase
  description: Generated server url
tags:
- name: Admin - Heartbeat
paths:
  /rest/admin/status:
    get:
      tags:
      - Admin - Heartbeat
      operationId: getStatus
      responses:
        '200':
          description: Admin API resources available and user has permission to access.
          headers:
            Content-Type:
              description: Format of response
              style: simple
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatusResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminStatusResponseData'
        '401':
          description: Client credentials are invalid or have expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatusResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminStatusResponseData'
        '403':
          description: Client has no access permission since the admin role is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatusResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdminStatusResponseData'
      summary: Get status
      x-summary-source: derived
    servers:
    - url: https://sandkiste.ehrbase.org/ehrbase
      description: Generated server url
components:
  schemas:
    AdminStatusResponseData:
      type: object
      properties:
        message:
          type: string
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
x-refined-from:
- vitagroup-ehrbase-sandbox-live.json
- vitagroup-hip-ehrbase-admin.json
